@import "../../variables.scss";

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1.login-heading {
    font-size: 44px;
    text-shadow: $box-shadow-block;
    position: absolute;
    top: 10px;
    font-weight: 300;
  }

  form {
    border-radius: $border-radius-medium;
    border: $border-style-normal;
    box-shadow: $box-shadow-block;
    max-width: 298px;
    padding: 10px;
    position: relative;

    .img-wrap {
      border-radius: 50%;
      overflow: hidden;
      width: 90px;
      height: 90px;
      border: $border-style-normal;
      display: flex;
      position: absolute;
      left: calc(50% - 45px);
      top: -75px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    #file-input {
      opacity: 0;
      height: 0;
      width: 0;
      visibility: hidden;
      padding: 0;
      margin: 0;
      border: 0;
    }

    .login-error {
      position: absolute;
      font-size: 9px;
      margin-top: -9px;
      color: red;
    }

    input {
      text-transform: lowercase;
      padding: 12px 22px;
      border: $border-style-normal;
      background-color: $input-field;
      border-radius: $border-radius-medium;
      margin: 10px 0;
      outline: none;
      color: $text-color;
      width: calc(100% - 44px);
      position: relative;

      &:focus {
        border: 1px solid $btn-primary-color;
      }
    }

    .controls {
      width: 100%;
      margin: 10px 0;
    }
  }
}
