.aside-chats {
  height: calc(100vh - 106px);
  border-right: 1px solid rgb(41, 41, 41);
  min-width: 300px;
  max-width: 300px;
  position: relative;
  margin-top: 106px;
  overflow: auto;

  .searcher {
    &__searcher-wrap {
      overflow: hidden;
      display: flex;
      align-items: center;
      padding: 2px;
      border-bottom: solid 1px rgb(41, 41, 41);
      font-size: 14px;
      position: relative;
      position: fixed;
      top: 64px;
      width: 296px;
      background-color: rgb(15, 15, 15);
      z-index: 55;
      height: 34px;
      border-right: 1px solid rgb(41, 41, 41);
    }
    &__input {
      background-color: transparent;
      border: solid 1px #333;
      border-radius: 4px;
      padding: 0 25px;
      height: 34px;
      width: 100%;
      font-size: 16px;
    }
    &__icon {
      position: absolute;
      right: 14px;
      top: 13px;
    }
  }

  .chat-list {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
